/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

* {
  box-sizing: border-box;
}

body {
  position: relative;
  color: #d4d4d4;
  height: 100vh;
  background-color: #1e1e1e;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  font-size: 12px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

pre,
code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

#root {
  height: 100%;
}
